<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Custom Presentation Team</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="img-box">
                <img src="./images/p1.png" alt="">
            </div>
            <div class="text">
                <h1>Person name</h1>
                <span>CEO OF XXXX</span>
            </div>
        </div>
        <div class="box">
            <div class="img-box">
                <img src="./images/p1.png" alt="">
            </div>
            <div class="text">
                <h1>Person name</h1>
                <span>MARKETING TEAM</span>
            </div>
        </div>
        <div class="box">
            <div class="img-box">
                <img src="./images/p1.png" alt="">
            </div>
            <div class="text">
                <h1>Person name</h1>
                <span>DEVELOPER TEAM</span>
            </div>
        </div>
    </div>
</body>
</html>