<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Glassmorphism Login Form</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <main>
            <h1>Log In</h1>
            <form action="#" autocomplete="off">
                <div class="input_wrapper">
                    <input type="text" name="username" id="username" required />
                    <span></span>
                    <label for="username">Username</label>
                </div>
                <div class="input_wrapper">
                    <input type="password" name="password" id="password" required />
                    <span></span>
                    <label for="password">Password</label>
                </div>
                <div class="forgot_password">Forgot Password?</div>
                <button class="login_btn">Log In</button>
                <div class="signup_link">
                    Not a member? <a href="#">Sign Up</a>
                </div>
            </form>
        </main>
    </body>
</html>
